@import "../../style/include/variables";
@import "../../style/include/mixin";

.page_top{height: 3.9rem; position: relative;overflow: hidden; background: linear-gradient(0deg, #6172F5 0%, #2BA9FC 100%);
  &:before{content: "";display: block;width: 3.54rem;height: 3.54rem; position: absolute;right: -0.55rem;top:-0.68rem;
    background: url("../../assets/point/bg_top.png");background-size: 100%;}
}

