.clearfix() {
  &:after {content: "";display: table;clear: both;}
}
.text-over(){overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.relative() { position: relative; width: 100%;height: 100%; }
.box-shadow(@info){-moz-box-shadow:@info; -webkit-box-shadow:@info; box-shadow:@info;}
.box-size(@info:border-box){box-sizing:@info; -moz-box-sizing:@info; -webkit-box-sizing:@info;}
.middle{display: inline-block;vertical-align: middle;}
.break(){white-space: normal;word-break: break-all;word-wrap: break-word;}
.clamp(@num){overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical;  -webkit-line-clamp:@num; }